html {
  position: relative;
  min-height: 100%;
}

body {
  background: #e1e1e1 url('../images/bull-background.jpg') center center no-repeat;
	color: #222222;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 80px;
}

a {
  color: #29A8DF;
	text-decoration: none;
}

p {
	color: #222222;
	font-size: 14px;
}

ul {
	margin: 0;
	padding: 0;
}

h2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: normal;
	xtext-shadow: 0px 1px 3px #ffffff;
}

h3 {
	color: #444444;
	font-size: 18px;
}

h4 {
	border-bottom: 1px solid #eeeeee;
	color: #222222;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 8px 0;
	text-transform: uppercase;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

fieldset {
	font-size: 14px;
	border: none;
	margin: 0 0 20px 0;
	padding: 0;
}

dl {
	overflow: hidden;
}

dt {
  clear: both;
  color: #222222;
  float: left;
  margin: 0 15px 5px 0;
  width: 165px;
}

dd {
  float: left;
  margin: 0 0 15px 0;
  color: #222222;
}

input {
	border: none;
	color: #333333;
	font-size: 18px;
	padding: 15px;
}

button {
  background: #28a8df;
	border: none;
	border-radius: 2px;
	box-shadow: 0 2px 0 #0d79a7;
	color: #ffffff;
	font-size: 18px;
  margin: 0 10px 0 0;
  padding: 15px 20px;
}

.header {
  margin: 100px auto;
  text-align: center;
}

.content {
	margin: 0 auto 40px;
	text-align: center;
}

.picks {
	color: #ffffff;
	margin: 0 auto 40px;
	max-width: 380px;
	text-align: center;
}

.picks p {
	color: #666666;
	font-size: 12px;
}

.picks table td {
	padding: 5px;
}

.as-seen-on {
	margin: 0 auto 40px;
  text-align: center
}

.as-seen-on li {
	display: inline-block;
	margin: 0 20px 20px;
	text-align: center;
	width: 100px;
}

.footer {
	background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
	clear: both;
	color: #888888;
	font-size: 12px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 17px;
	width: 100%;
}

.footer .container {
	padding: 0 20px;
}

.footer p {
	color: #999999;
	float: left;
	font-size: 12px;
	margin: 0;
}

.footer .navigation {
  float: right;
}

.footer .navigation li {
	display: inline;
	list-style-type: none;
}

.footer .navigation a {
	color: #999999;
	font-size: 12px;
	margin: 0;
	padding: 3px 6px;
	text-transform: none;
}

.footer .navigation a:hover {
	background: #f05544;
	color: #ffffff;
}

.button {
	background: #29a8df;
	border: none;
	color: #ffffff;
	display: inline-block;
	padding: 10px 20px;
}

.button.button-small {
	background: #1f1c3a;
	color: #ffffff;
  padding: 10px 15px;
}

.errors {
	clear: both;
	margin: 0 0 20px 0;
}

.errors li {
	color: #f05544;
	list-style-type: none;
	font-size: 14px;
	margin: 0 0 5px 0;
}

.errors p {
	color: #f05544;
	font-size: 14px;
}

x.button {
display: inline-block;
vertical-align: middle;
padding: 10px 50px;
border: 1px solid #B6473B;
color: #ffffff;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
cursor: pointer;
font-size: 21px;
font-weight: 600;
line-height: 30px;
background: #F05544;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #F3796C), color-stop(100%, #F05544)),#F05544;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),0 1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 3px rgba(0,0,0,0.4);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),0 1px 3px rgba(0, 0, 0, 0.4);
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
-webkit-transition: opacity 0.1s ease-out,background 0.1s ease-out;
-moz-transition: opacity 0.1s ease-out,background 0.1s ease-out;
-o-transition: opacity 0.1s ease-out,background 0.1s ease-out;
transition: opacity 0.1s ease-out,background 0.1s ease-out;
}

x.button.button-small {
  color: #ffffff;
padding: 6px 20px 7px;
font-size: 18px;
line-height: 23px;
min-width: 50px;
}

.xbutton.button-xsmall {
	color: #ffffff;
padding: 6px 15px 7px;
font-size: 14px;
line-height: 18px;
min-width: 40px;
}
